
// Abstracts
@import './abstracts/variables';
@import './abstracts/functions';
@import './abstracts/fonts';

// Components
@import './components/quiz';

*{
    margin: 0;
}

div{
    border: 1px solid rebeccapurple;
}

body{
    font-family: 'Poppins-Regular', sans-serif;
    height: 100vh;
    // background-image: linear-gradient(#D8C7FF, #19006C);
    background-color: #dbeaff;
}