.container{
    max-width: 640px;
    margin: auto;
    @include tablet-down{
        margin: 50px remify(20px); 
    }
    margin-top: 50px;
    background: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: remify(10px); 
    padding: 30px remify(50px);

    hr{
        height: 2px;
        border: none;
        background: $midgrey;
    }

    h2.quiz-question{
        font-size: remify(18px);
        font-weight: 500;

    }

    ul.quiz-options-list{
        padding-inline-start: 0;

        li.quiz-option{
            display: flex;
            align-items: center;
            height: 40px;
            padding-left: remify(15px);
            border: 1px solid $midgrey;
            border-radius: remify(8px);
            margin-bottom: 20px;
            font-size: remify(14px);
            cursor: pointer;

            &.correct{
                background: $success-bg;
                border-color: $success-border; 
            }

            &.wrong{
                background: $danger-bg;
                border-color: $danger-border;
            }
        }
    }

    button.go-next,
    button.reset{
        margin: auto;
        width: remify(200px);
        height: 40px;
        background: $btn-bg;
        color: #fff;
        font-size: remify(18px);
        font-weight: 500;
        border: none;
        border-radius: remify(8px);
        cursor: pointer;
    }

    .index{
        margin: auto;
        font-size: remify(14px);
    }
}